// $screen-sm-min: 320px;
// $screen-md-min: 986px;
// $screen-lg-min: 1440px;
$grid-columns: 12;
$grid-gutter-width: 24px;
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";
