@import "variables";
@import "grid";

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: Roboto-Regular;
    color: #000000;
    letter-spacing: 0.4px;
    line-height: 20px;

    &.page_loading,
    &.page_done {
        overflow: hidden;

        & > header {
            &:after {
                height: 100%;
            }
        }

        main {
            display: none;
            opacity: 0;
        }
    }

    &.page_loading {
        & > header .header__spinner {
            display: block;
        }
    }

    &.page_done {
        & > header .header__pleasure {
            display: block;
        }
    }

    & > header {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 240px;
            background-color: $primary-color;
            z-index: 100;
            transition: height 0.6s cubic-bezier(0, 1, 1, 1);
        }

        section {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 240px;
            color: white;
            z-index: 200;
        }
    }
}

h1 {
    margin: 0;
    font-family: BNPPSansCondensed;
    font-size: 46px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: left;
    line-height: 48px;
}

h3 {
    font-family: Roboto-Bold;
    font-size: 24px;
    margin: 0 0 22px 0;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    line-height: 28px;
}

aside {
    margin-top: 30px;

    @media (max-width: 960px) {
        display: none;
    }
}

a {
    position: relative;
    display: inline-block;
    margin: 8px 0;
    font-size: 18px;
    color: $anchor-color;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: none;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px dashed $anchor-color;
    }
}

main {
    transition: opacity 1.6s;

    section {
        margin: 64px 0;

        &:first-child {
            margin-top: 34px;
        }

        .input-field {
            margin: 8px 0;
        }
    }
}

footer {
    margin: 120px 0 64px;
}

.input-field {
    position: relative;
    height: 72px;

    & > input {
        width: 100%;
        height: 32px;
        margin-top: 20px;
        padding: 0;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: transparentize($color: #323232, $amount: 0.6);
        font-family: Roboto-Regular;
        font-size: 17px;

        &:active,
        &:focus,
        &:not(:placeholder-shown) {
            & + label {
                top: 0;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    & > label {
        position: absolute;
        top: 26px;
        left: 0;
        opacity: 0.4;
        font-family: Roboto-Regular;
        font-size: 17px;
        transition: top 0.2s, font-size 0.2s;
    }
}

.header {
    &__logo {
        position: absolute;
        top: 16px;
        left: auto;
    }

    &__description {
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.64);
        line-height: 16px;
    }

    &__spinner,
    &__pleasure {
        position: absolute;
        top: 352px;
        display: none;
    }
}

.button {
    position: relative;
    background: $secondary-color;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    & > * {
        cursor: pointer;
    }

    &_processing {
        & > * {
            cursor: not-allowed;
        }

        button {
            opacity: 0;
        }

        .button__spinner {
            opacity: 1;
        }
    }

    &__spinner {
        position: absolute;
        top: 0;
        left: calc(100% / 2 - 20px);
        opacity: 0;
        transition: opacity 0.2s;
    }

    button {
        text-transform: uppercase;
        width: 100%;
        height: 40px;
        font-family: Roboto-Medium;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 1.2px;
        text-align: center;
        background: transparent;
        border-radius: 4px;
        line-height: 16px;
        border: none;
        transition: opacity 0.2s;
    }
}

.anchors {
    transition: margin-top 1s;
}

.copyright {
    margin-top: 16px;
    opacity: 0.4;
    font-size: 12px;
    line-height: 16px;
}

.spinner {
    width: 40px;
    height: 40px;
    animation-duration: 1s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
